.version.index {
    color: #000004;
    background-color: #246C90;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

#page {
    z-index: 1;
    width: 960px;
    min-height: 438px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-bottom: 62px;
    margin-left: auto;
    margin-right: auto;
}

#u108-4 {
    z-index: 8;
    position: relative;
    margin-right: -10000px;
    width: 81px;
    margin-top: 458px;
    left: 218px;
}

#pu94 {
    z-index: 2;
    width: 0.01px;
    margin-right: -10000px;
    margin-top: 266px;
    margin-left: 335px;
}

#u94 {
    z-index: 2;
    display: block;
    vertical-align: top;
    margin-left: 106px;
    position: relative;
}

#u104-4 {
    z-index: 4;
    display: block;
    vertical-align: top;
    margin-left: 54px;
    margin-top: 39px;
    position: relative;
}

#pu117-4 {
    z-index: 12;
    width: 0.01px;
    margin-top: 71px;
}

#u117-4 {
    z-index: 12;
    position: relative;
    margin-right: -10000px;
    width: 80px;
}

#u125-4 {
    z-index: 16;
    position: relative;
    margin-right: -10000px;
    width: 80px;
    left: 123px;
}

#u131-4 {
    z-index: 20;
    position: relative;
    margin-right: -10000px;
    width: 80px;
    left: 231px;
}

#u170-4 {
    z-index: 24;
    position: relative;
    margin-right: -10000px;
    width: 80px;
    margin-top: 458px;
    left: 677px;
}

#u108-4_img,
#u117-4_img,
#u125-4_img,
#u131-4_img,
#u170-4_img {
    display: block;
    vertical-align: top;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 540px);
}

.html {
    background-color: #0B000C;
}

body {
    position: relative;
    min-width: 960px;
}
